.home-container {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.home-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.home-section {
    margin-bottom: 2rem;
    text-align: left;
}

.start-button {
    background-color: #1e40af;
    color: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}